<form [formGroup]="newprojectform" (ngSubmit)="SubmitNewProject()">
  <div>
    <h3>Project Name</h3>
    <input type="text" formControlName="title">
    <h3>Project Description</h3>
    <input type="text" formControlName="description">
    <h3>Category</h3>
    <select *ngFor="let category of categories" formControlName="categoryid">
      <option value="{{category}}" >{{category.name}}</option>
    </select>
    <h3>Requested Funding</h3>
    <input type="number" formControlName="totalfundrequired">
    <h3>Project Photos</h3>
    <div>
      <div class="imagessection" *ngFor="let image of imagesurls">
        <img class="image" [src]="image" />
      </div>
      <input class="uploadbutton" type="file" (change)="onFileChange($event)" multiple>
    </div>
  </div>
  <div>
    <h3>Social Media platforms</h3>
    <p>Facebook</p>
    <input type="text" formControlName="facebook"/>
    <p>X</p>
    <input type="text" formControlName="x"/>
    <p>instagram</p>
    <input type="text" formControlName="instagram"/>
  </div>
  <input type="submit" value="Submit Project">
</form>
