<div class="homepage">

  <div class="titles">
    <h1 class="headtitle">Welcome to FundHub</h1>
    <h2 class="subtitle">our goal is to provide funding through donations, for people's projects they wish to achieve</h2>
  </div>

  <div class="newsgrid">
    <div class="newselement" *ngFor="let news of allnews">
      <img class="newsimage" src="http://localhost:5116/storage/News/{{news.id}}/Images/{{news.image}}" />
      <p class="newsdate">{{news.published}}</p>
      <h2 class="newstitle">{{news.title}}</h2>
    </div>
  </div>




</div>
