<div class="viewprojectpage">

  <div class="projectinfo">
    <!--Images Carousel -->
    <img class="selectedimage" src="{{environment.backendurl}}/storage/Projects/{{project.id}}/Images/{{project.images?.[0]}}" />
    <div class="projectgallery">
      <div  *ngFor="let image of project.images">
        <img class="galleryimage"  src="{{environment.backendurl}}/storage/Projects/{{project.id}}/Images/{{image}}" />
      </div>
    </div>


    <div>
      <h1>{{project.title}}</h1>
      <h2>Category: {{project.category.name}}</h2>
      <p>{{project.description}}</p>
      <p>Funded: {{project.currentfund}} out of {{project.totalfundrequired}}</p>
    </div>

    <!--Donate -->
    <a class="donatebutton" (click)="GoDonate()" routerLink="/donate">Donate</a>
  </div>
  <div class="projectownerinfo">
    <!--Project Owner Info -->
    <h3>About Me</h3>
    <img class="projectownerimage" src="{{environment.backendurl}}/storage/Users/{{project.user.id}}/Images/{{project.user.profileimage}}" />
    <h2>Project Owner: {{project.user.username}}</h2>
    <p>Description</p>
    <p>{{project.user.description}}</p>
    <p>contact info</p>
    <p>Phone Number: {{project.user.phonenumber}}</p>

  </div>

</div>
