<div class="projectspage">
  <div class="projectsgrid">
    <div class="projectcard" *ngFor="let project of projects">
      <img class="projectimage" src="http://localhost:5116/storage/Projects/{{project.id}}/Images/{{project.images?.[0]}}" />
      <div class="titleandcategoryimage">
        <h2 class="title">{{project.title}}</h2>
      </div>
      <p class="funding">{{project.currentfund | currency : "EGP"}} / {{project.totalfundrequired | currency : "EGP"}}</p>
      <a class="viewbutton" (click)="ViewProject(project)">View</a>
    </div>
  </div>
</div>
